{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/my_footer_css.css" %}">
{% endblock css %}

{% block content %}
    <div class="container mt-5 pt-5 bg-white custom-shadow rounded">
        <h2>Часто задаваемые вопросы</h2>

        {% for faq in faqs %}
            <div class="faq-item mb-4">
                <h4 class="text-primary">{{ faq.question }}</h4>
                <p>{{ faq.answer }}</p>
                <small class="text-muted">Обновлено: {{ faq.updated_at|date:"d/m/Y H:i" }}</small>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div><h1>...</h1></div>
{% endblock content %}

{% block footer %}
	<footer class="bg-dark">
        <div class="container">
            <p>© 2025 ZooShop. Все права защищены</p>
            <p>Текущая дата: {% now "d/m/Y" %}</p>
        </div>
    </footer>
{% endblock footer %}