{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5 pt-5 bg-white custom-shadow rounded">
        <h2>Новости</h2>

        {% for news in news_list %}
            <div class="news-item mb-4">
                <h4 class="text-primary">{{ news.title }}</h4>
                <p>{{ news.summary }}</p>
                {% if news.image_url %}
                    <img src="{{ news.image_url }}" class="img-fluid" alt="Новость">
                {% endif %}
            </div>
            <hr>
        {% endfor %}

        <h3>🐱 Интересные факты о котах</h3>
        {% for fact in cat_facts %}
            <p>✔ {{ fact }}</p>
        {% endfor %}
    </div>
{% endblock content %}