{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/main/news.css' %}">
{% endblock %}

{% block content %}
<section class="news-wrapper">
  <div class="news-container">
    <h2>Новости</h2>

    {% for news in news_list %}
      <article class="news-item">
        <h3 class="news-title">{{ news.title }}</h3>
        <p class="news-summary">{{ news.summary }}</p>
        {% if news.image_url %}
          <img src="{{ news.image_url }}" alt="Новость" class="news-image">
        {% endif %}
      </article>
      <hr>
    {% endfor %}

    <h3 class="cat-facts-title">Интересные факты о котах</h3>
    <ul class="cat-facts-list">
      {% for fact in cat_facts %}
        <li>{{ fact }}</li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
