{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/footer.css" %}">
{% endblock css %}

{% block footer %}
    <footer class="footer">
      <div class="footer-inner">
        <div class="footer-center">
          <small>© 2025 ZooShop. Все права защищены</small>
          <br>
          <small>Текущая дата: {% now "d/m/Y" %}</small>
        </div>
        <aside class="footer-calendar">
          {{ month_calendar|safe }}
        </aside>
      </div>
    </footer>
{% endblock footer %}