{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/footer.css" %}">
{% endblock css %}

{% block content %}
	<h2>Действующие промокоды</h2>
    {% for coupon in active_coupons %}
        <p><strong>{{ coupon.code }}</strong> - {{ coupon.discount }}% (истекает {{ coupon.expiration_date|date:"d/m/Y" }})</p>
    {% endfor %}

    <h2>Истекшие промокоды</h2>
    {% for coupon in expired_coupons %}
        <p><strong>{{ coupon.code }}</strong> - {{ coupon.discount }}% (истек {{ coupon.expiration_date|date:"d/m/Y" }})</p>
    {% endfor %}
{% endblock content %}

{% block footer %}
    <footer class="footer">
      <div class="footer-inner">
        <div class="footer-center">
          <small>© 2025 ZooShop. Все права защищены</small>
          <br>
          <small>Текущая дата: {% now "d/m/Y" %}</small>
        </div>
        <aside class="footer-calendar">
          {{ month_calendar|safe }}
        </aside>
      </div>
    </footer>
{% endblock footer %}