{% load static %}

{% if form.non_field_errors %}
<section class="notification-wrapper">
  <div class="notification error">
    <span>{{ form.non_field_errors }}</span>
    <button class="notification-close" aria-label="Закрыть">✖</button>
  </div>
</section>
{% endif %}

<section class="notification-wrapper">
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div id="notification" class="notification success">
          <span>{{ message }}</span>
          <button class="notification-close" aria-label="Закрыть">✖</button>
        </div>
      {% elif message.tags == 'warning' %}
        <div id="notification" class="notification warning">
          <span>{{ message }}</span>
          <button class="notification-close" aria-label="Закрыть">✖</button>
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <div id="jq-notification" class="notification success" style="display: none;">
      <span></span>
      <button class="notification-close" aria-label="Закрыть">✖</button>
    </div>
  {% endif %}
</section>

<script>
    // Автоматическое скрытие уведомления
    const autoNotification = document.getElementById("notification");
    if (autoNotification) {
      setTimeout(() => {
        autoNotification.style.display = "none";
      }, 7000);
    }

    // Закрытие по кнопке
    document.querySelectorAll(".notification-close").forEach((btn) => {
      btn.addEventListener("click", () => {
        btn.parentElement.style.display = "none";
      });
    });
</script>